<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824194143106-crubsn76qcdj3dbue98d2d3t8sacilv4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824194143106-crubsn76qcdj3dbue98d2d3t8sacilv4</string>
	<key>API_KEY</key>
	<string>AIzaSyChldkue7Ja_9TxoG2dZpiWtlFCimJj2XU</string>
	<key>GCM_SENDER_ID</key>
	<string>824194143106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rnEmailAuthFirebase.dojo</string>
	<key>PROJECT_ID</key>
	<string>rnemailauthfirebase-d2dce</string>
	<key>STORAGE_BUCKET</key>
	<string>rnemailauthfirebase-d2dce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824194143106:ios:61bd7bd4e781b779a8b59b</string>
</dict>
</plist>